{% extends 'base.html' %}

{% block content %}
<title>{% block title %}Resultados: Banco de Dados {% endblock %}</title>

<div class="container" >
    <div class="jumbotron" style="background-color: #E3E3E3; ">
        <h1 class="display-4">
            <style>
                h1{text-align: center;
                background-color: #E3E3E3;
                color: #000000;
                }

            </style>Verifique suas respostas &#9860<i class="fa-regular fa-hand-wave"></i></h1>
        <p></p>
        <br>
        <hr class="my-4">
        <p style="color: #000000;"> 1 - O que significa a sigla SGBD?</p>
        <p style="color: #000000;"> <b>A resposta correta está na alternativa B:</b> Sistemas Gerenciadores de Banco de Dados</p>
        <p style="color: #000000;"> <b>Justificativa:</b> Esta informação encontra-se no link disponibilizado no conteúdo </p>
        
        <br>
        <br>    

        <p style="color: #000000;"> 2 - Em que consiste o modelo de base de dados plano?</p>
        <p style="color: #000000;"> <b>A resposta correta está na alternativa D:</b> Matrizes simples, bidimensionais, compostas por elementos de dados</p>
        <p style="color: #000000;"> <b>Justificativa:</b> Esta informação encontra-se no link disponibilizado no conteúdo </p>
        
        <br>
        <br>

        <p style="color: #000000;"> 3 - Quais são as propriedades ACID? </p>
        <p style="color: #000000;"><b> A resposta correta está na alternativa A: </b>Atomididade, consistência, isolamento, durabilidade </p>
        <p style="color: #000000;"> <b>Justificativa: </b>Esta informação encontra-se no link disponibilizado no conteúdo  </p>
        
        <br>
        
    </div>
</div>


   
    <br>
    <br>
    <br>

        
    
    </div>
</div>
<br>



{% endblock %}