{% extends 'base.html' %}

{% block content %}
<title>{% block title %}Resultados: Prod Textos {% endblock %}</title>

<div class="container" >
    <div class="jumbotron" style="background-color: #E3E3E3; ">
        <h1 class="display-4">
            <style>
                h1{text-align: center;
                background-color: #E3E3E3;
                color: #000000;
                }

            </style>Verifique suas respostas &#9997<i class="fa-regular fa-hand-wave"></i></h1>
        <p></p>
        <br>
        <hr class="my-4">
        <p style="color: #000000;"> 1 - Quais são os 5 (cinco) tipos de textos?</p>
        <p style="color: #000000;"> <b>A resposta correta está na alternativa D:</b> Dissertativo, narrativo, descritivo, injuntivo e expositivo</p>
        <p style="color: #000000;"> <b>Justificativa:</b> Esta informação encontra-se no link disponibilizado no conteúdo </p>
        
        <br>
        <br>    

        <p style="color: #000000;"> 2 - Quais são as etapas básicas para produção de textos?</p>
        <p style="color: #000000;"> <b>A resposta correta está na alternativa A:</b> Tema e título, introdução, desenvolvimento e conclusão</p>
        <p style="color: #000000;"> <b>Justificativa:</b> Esta informação encontra-se no link disponibilizado no conteúdo </p>
        
        <br>
        <br>

        <p style="color: #000000;"> 3 - Das alternativas abaixo, selecione um exemplo de texto dissertativo: </p>
        <p style="color: #000000;"><b> A resposta correta está na alternativa B: </b>Artigo </p>
        <p style="color: #000000;"> <b>Justificativa: </b> Fábula: exemplo de texto narrativo, manual de instrução: exemplo de texto injuntivo, palestra: exemplo de texto expositivo, artigo: exemplo de texto dissertativo </p>
        
        <br>
        
    </div>
</div>


   
    <br>
    <br>
    <br>

        
    
    </div>
</div>
<br>



{% endblock %}