{% extends 'base.html' %}

{% block content %}
<title>{% block title %}Resultados: Python {% endblock %}</title>

<div class="container" >
    <div class="jumbotron" style="background-color: #E3E3E3; ">
        <h1 class="display-4">
            <style>
                h1{text-align: center;
                background-color: #E3E3E3;
                color: #000000;
                }

            </style>Verifique suas respostas &#128013<i class="fa-regular fa-hand-wave"></i></h1>
        <p></p>
        <br>
        <hr class="my-4">
        <p style="color: #000000;"> 1 - Quando foi criada a linguagem Python?</p>
        <p style="color: #000000;"> <b>A resposta correta está na alternativa C:</b> No início dos anos 1990</p>
        <p style="color: #000000;"> <b>Justificativa:</b> Esta informação encontra-se na documentação oficial da linguagem, conforme link disponibilizado no conteúdo </p>
        
        <br>
        <br>    

        <p style="color: #000000;"> 2 - Os módulos no Python são invocados através de qual instrução?</p>
        <p style="color: #000000;"> <b>A resposta correta está na alternativa B:</b> import</p>
        <p style="color: #000000;"> <b>Justificativa:</b> Esta informação encontra-se na documentação oficial da linguagem, conforme link disponibilizado no conteúdo </p>
        
        <br>
        <br>

        <p style="color: #000000;"> 3 - Uma das bibliotecas mais populares para se trabalhar com dataframes em Python é: </p>
        <p style="color: #000000;"><b> A resposta correta está na alternativa A: </b>pandas </p>
        <p style="color: #000000;"> <b>Justificativa: </b>as bibliotecas os e sys são utilizadas para realizar operações no sistema, a biblioteca flask é utilizada para desenvolvimento de aplicações, e a biblioteca pandas por sua vez tem a capacidade de leitura, manipulação de dados, etc.  </p>
        
        <br>
        
    </div>
</div>


   
    <br>
    <br>
    <br>

        
    
    </div>
</div>
<br>



{% endblock %}