{% extends 'base.html' %}

{% block content %}
<title>{% block title %}Resultados: Economia {% endblock %}</title>

<div class="container" >
    <div class="jumbotron" style="background-color: #E3E3E3; ">
        <h1 class="display-4">
            <style>
                h1{text-align: center;
                background-color: #E3E3E3;
                color: #000000;
                }

            </style>Verifique suas respostas &#128178<i class="fa-regular fa-hand-wave"></i></h1>
        <p></p>
        <br>
        <hr class="my-4">
        <p style="color: #000000;"> 1 - Em que consiste a Ciência da Economia?</p>
        <p style="color: #000000;"> <b>A resposta correta está na alternativa D:</b> Na análise da produção, distribuição e consumo de bens e serviços</p>
        <p style="color: #000000;"> <b>Justificativa:</b> Esta informação encontra-se no link disponibilizado no conteúdo </p>
        
        <br>
        <br>    

        <p style="color: #000000;"> 2 - Quais são os dois grandes ramos em que a economia é dividida?</p>
        <p style="color: #000000;"> <b>A resposta correta está na alternativa B:</b> Microeconomia e macroeconomia</p>
        <p style="color: #000000;"> <b>Justificativa:</b> Esta informação encontra-se no link disponibilizado no conteúdo </p>
        
        <br>
        <br>

        <p style="color: #000000;"> 3 - O que diz a lei da demanda? </p>
        <p style="color: #000000;"><b> A resposta correta está na alternativa A: </b>Em regra geral, o preço e a quantidade demandada num determinado mercado estão inversamente relacionados </p>
        <p style="color: #000000;"> <b>Justificativa: </b>Esta informação encontra-se no link disponibilizado no conteúdo  </p>
        
        <br>
        
    </div>
</div>


   
    <br>
    <br>
    <br>

        
    
    </div>
</div>
<br>



{% endblock %}