{% extends 'base.html' %}

{% block content %}
<title>{% block title %}Teste: Banco de Dados {% endblock %}</title>

<div class="container" >
    <div class="jumbotron" style="background-color: #E3E3E3; ">
        <h1 class="display-4">
            <style>
                h1{text-align: center;
                background-color: #E3E3E3;
                color: #000000;
                }

            </style>Teste seu conhecimento sobre Banco de Dados &#9860<i class="fa-regular fa-hand-wave"></i></h1>
        <p></p>
        <br>
        <hr class="my-4">
        <p style="color: #000000;"> 1 - O que significa a sigla SGBD?</p>
        <p style="color: #000000;"> a) Sistemas Gerais de Banco de Dados</p>
        <p style="color: #000000;"> b) Sistemas Gerenciadores de Banco de Dados</p>
        <p style="color: #000000;"> c) Software Geral de Banco de Dados</p>
        <p style="color: #000000;"> d) Sistema Gerenciador de Bits e Dados</p>
        <br>
        <br>    

        <p style="color: #000000;"> 2 - Em que consiste o modelo de base de dados plano?</p>
        <p style="color: #000000;"> a) Tabelas que armazenam o esquema de uma matriz de dados </p>
        <p style="color: #000000;"> b) Tabelas complexas de um conjunto de bits </p>
        <p style="color: #000000;"> c) Matrizes simples, tridimensionais, compostas por vários dados </p>
        <p style="color: #000000;"> d) Matrizes simples, bidimensionais, compostas por elementos de dados</p>
        <br>
        <br>

        <p style="color: #000000;"> 3 - Quais são as propriedades ACID? </p>
        <p style="color: #000000;"> a) Atomididade, consistência, isolamento, durabilidade</p>
        <p style="color: #000000;"> b) Anatomico, consistência, iteração, durabilidade</p>
        <p style="color: #000000;"> c) Atomicidade, captura, imagem, definição</p>
        <p style="color: #000000;"> d) Anatomico, captura, iteração, definição </p>
        <br>
        
    </div>
</div>


    <div class="row" >
        
            <div class="card" style="background-color: #E3E3E3; border: #E3E3E3;" >
                <div class="card-body" >
                    <h4 class="card-title">Clique no link abaixo para verificar as respostas:</h4>
                    <br>
                    
                    <p class="card-text"><a href="answers_banco_dados" style="font-weight: bold;">Respostas (link para conteúdo interno)</a></p>
                    <br>
                </div>
            </div>
        </div>
    <br>
    <br>
    <br>

        
    
    </div>
</div>
<br>



{% endblock %}