{% extends 'base.html' %}

{% block content %}
<title>{% block title %}Teste: Economia {% endblock %}</title>

<div class="container" >
    <div class="jumbotron" style="background-color: #E3E3E3; ">
        <h1 class="display-4">
            <style>
                h1{text-align: center;
                background-color: #E3E3E3;
                color: #000000;
                }

            </style>Teste seu conhecimento sobre Economia &#128178<i class="fa-regular fa-hand-wave"></i></h1>
        <p></p>
        <br>
        <hr class="my-4">
        <p style="color: #000000;"> 1 - Em que consiste a Ciência da Economia?</p>
        <p style="color: #000000;"> a) No cálculo de juros</p>
        <p style="color: #000000;"> b) No comportamento da iniciativa privada</p>
        <p style="color: #000000;"> c) Na visualização de planilhas</p>
        <p style="color: #000000;"> d) Na análise da produção, distribuição e consumo de bens e serviços</p>
        <br>
        <br>    

        <p style="color: #000000;"> 2 - Quais são os dois grandes ramos em que a Economia é dividida?</p>
        <p style="color: #000000;"> a) Público e Privado </p>
        <p style="color: #000000;"> b) Microeconomia e macroeconomia </p>
        <p style="color: #000000;"> c) Rural e urbano</p>
        <p style="color: #000000;"> d) Filosófico e sociológico</p>
        <br>
        <br>

        <p style="color: #000000;"> 3 - O que diz a lei da demanda? </p>
        <p style="color: #000000;"> a) Em regra geral, o preço e a quantidade demandada num determinado mercado estão inversamente relacionados</p>
        <p style="color: #000000;"> b) Sempre que a demanda por determinado produto aumenta, seu preço diminui</p>
        <p style="color: #000000;"> c) Em regra geral, o preço e a quantidade demandada num determinado mercado estão igualmente relacionados</p>
        <p style="color: #000000;"> d) Geralmente, a baixa demanda aumenta o preço dos produtos </p>
        <br>
        
    </div>
</div>


    <div class="row" >
        
            <div class="card" style="background-color: #E3E3E3; border: #E3E3E3;" >
                <div class="card-body" >
                    <h4 class="card-title">Clique no link abaixo para verificar as respostas:</h4>
                    <br>
                    
                    <p class="card-text"><a href="answers_economia" style="font-weight: bold;">Respostas (link para conteúdo interno)</a></p>
                    <br>
                </div>
            </div>
        </div>
    <br>
    <br>
    <br>

        
    
    </div>
</div>
<br>



{% endblock %}